# Direct dependencies
numpy==2.3.2
pygame==2.6.1
pynput==1.8.1
rich==13.9.4
textual==6.1.0

# Transitive deps (textual/rich)
linkify-it-py==2.0.3
markdown-it-py==4.0.0
mdit-py-plugins==0.5.0
mdurl==0.1.2
platformdirs==4.4.0
Pygments==2.19.2
typing_extensions==4.15.0
uc-micro-py==1.0.3

# pynput on Linux
python-xlib==0.33
