# Direct dependencies
numpy==2.3.2
pygame-ce==2.5.7
pynput==1.8.1
rich==13.9.4

# Transitive deps (rich)
markdown-it-py==4.0.0
mdurl==0.1.2
Pygments==2.19.2
typing_extensions==4.15.0

# pynput on Linux
python-xlib==0.33
